@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navegador{
    background-color: #ee571b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navegador img{
    margin: 10px;
}
.navegador .menu{
    display: none;    
}
.navegador ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.navegador ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.carrousel{ 
    margin-top: 104px;    
}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
@media(max-width:768px){
    .carousel-item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}
.carousel-caption h5{
    font-size: 48px;
    text-shadow: 2px 2px 3px #000000;
}
.carousel-caption p{
    font-size: 32px;
    text-shadow: 2px 2px 3px #000000;
}
.formulario{    
    font-size: 18px;
    margin: 30px auto;
    margin-top: 130px;   
    color: white;
    padding: 30px;
    background-color: rgb(3, 145, 97);
    display: grid;
    row-gap: 10px;    
}
.formulario .dato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.formulario .dato input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white
}
.formulario .dato input:focus{
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
}
.formulario button{
    padding: 10px 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
@media(min-width:576px){
    .formulario{    
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        align-items: center;        
    }
    .dato-nombre{
        grid-column: 1/3;
    }
    .dato-apellido{
        grid-column: 3/5;
    }
    .dato-tel{
        grid-column: 1/2;
    }
    .dato-mail{
        grid-column: 3/5;
    }
    .dato-terminos{
        grid-column: 1/3;
    }    
}
@media(min-width:768px){
    .formulario{
        width: 768px;
        border-radius: 8px;
        box-shadow: 10px 5px 15px 5px #000000;
    }   
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ccc1c2;   
}
.producto{
    width: 270px;
    border: solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: white
}
.producto__img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.boton{
    background-color: #ee571b;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 15px;
}
.PiePagina{
    background-color: #ee571b;
    color: white;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    column-gap: 15px;
    padding: 10px;
    align-items: center;
    justify-items: center;  
}
.PiePagina .info, .PiePagina .contactos{
    width: 100%;
    display: flex;
    flex-direction: column;   
    gap: 20px;
    padding: 40px;
}
.PiePagina .info .descripcion img{
    float: left;
    margin: 5px;
}
.PiePagina .contactos .mapa{
    width: 90%;
    height: 400px;
    border-radius: 8px;   
}
.PiePagina .redes i{
    font-size: 32px;
    margin: 10px;
}

@media(max-width:1200px){
    .navegador{        
        position: static;
    }
    .carrousel{
        margin-top: 0px;
    }
    .PiePagina{
        grid-template-columns: 1fr 1fr;
    }
    .PiePagina .redes{
        grid-column: 1/3;
    }
}
@media(max-width:576px){
    .navegador .menu{
        display: block;
        color: white;
        font-size: 30px;
        margin: 10px;
        order: -1;
    }
    .navegador .menu:hover + ul {
       left: 0px;
    }
    .navegador ul:hover{
        left: 0px;
    }
    .navegador ul{       
        position: fixed;
        top: 0;
        left: -500px;
        background-color: white;
        width: 80vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 100px;
        transition: 0.5s;              
    }
    .navegador ul li a{
        color: black;
    }      
}
@media(max-width:768px){
    .PiePagina{
        grid-template-columns: 1fr;
    }
    .PiePagina .redes{
        grid-column: auto;
    }
}